.App {
  text-align: center;
}
* {
  box-sizing: border-box;
}
body {
  background-color: slategray;
}

/* Home Page */
.buy-btn {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  background-color: goldenrod;
  padding: 5px 10px;
  border-radius: 10px;
}
main {
  max-width: 1200px;
  padding: 30px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  grid-gap: 30px;
  place-items: center;
  height: 80vh;
}
.ticket-item {
  border: 2px solid white;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

/* Header Style */

.logo img {
  height: 70px;
}
header {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
nav {
  display: flex;
  gap: 20px;
}
nav a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

/* Destination */
section {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  display: grid;
  grid-template-columns: 1.2fr 3fr;
  grid-gap: 20px;
}
.search-area {
  padding: 20px;
  border-radius: 10px;
  background-color: lightgray;
}
section input,
section button {
  padding: 10px 10px;
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
  border: none;
}
section button {
  background-color: orangered;
  color: #fff;
}
